/*
 * Footer styles go here
 */

#main-footer {
  background: #311b92;
   color:$white;
   padding: 90px 0 90px 0;
}

 #bottom-footer {
   font-size: 12px;
   background: #673ab7;
   color:$white;
   padding: 10px 0;
 }

 .fa-heart{
   color:red;
   transition: all .2s ease-in-out;
   cursor: pointer;
 }

 .fa-heart:hover { transform: scale(1.1); }

 #main-footer .widget_text {
   border: solid 1px lightblue;
 }

 @media(max-width:835px) {
   .widget {
     padding: .5rem !important;
   }
 }

